{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1 class="m-3">Product index</h1>
    <a class="btn btn-warning m-3" href="{{ path('app_product_new') }}">Create new</a>
    <div class="container row row-cols-3">
   
        {% for product in products %}
        <div class="card m-3" style="width: 18rem;">
            <img src="{{ asset('uploads/products-img/' ~ product.image) }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">{{ product.description }}</p>
            <div class="flex-row">
                <a class="btn btn-primary" href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
              <a class="btn btn-success" href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
              {{ include('product/_delete_form.html.twig') }}
            </div>
            </div>
          </div>
        {% else %}

            <div class="container">
                <div class="center">
                    <h2>No records found</h2>
                </div>
            </div>
        {% endfor %}
        
    </div>
   
{% endblock %}
